body {
  font-family: Arial, sans-serif;
  text-align: center;
}

/* table styling */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

td{
  color: black;
  background-color: white;
}

th {
  background-color: #4caf50;
  color: white;
}
